---
layout: body
---

<main class="content store">
    <div class="content__row content__row--direction-row store__head">
        <h1 class="store__title">Wszystkie Produkty</h1>
    </div>

    <div class="content__row store__container">
        <nav class="store__nav">
            
            {% include nav_categories.html page=page site=site %}
        </nav>
        <section class="store__products">
            {% assign product_pages = '/products' | get_pages | sort: 'name' %}
            
            {% include product_grid.html product_pages=product_pages cssClass='store__product-grid' %}
        </section>
    </div>


</main>
